---
const { img, title, secondTitle, txt } = Astro.props;
---

<div class="card">
    <img src={img} alt={title} class="card__img">
    <h3 class="card__title">{title} <br> {secondTitle}</h3>
    <p class="card__txt">{txt}</p>
</div>

<style lang="scss">
    .card{
        margin-top: 100px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__img{
            width: 150px;
            transition: all .2s;

            &:hover{
                cursor: pointer;
                scale: .9;
            }
        }

        &__title, &__txt{
            position: relative;
            left: 30px;
            width: 200px;
            margin-top: 20px;
        }

        &__title{
            font-weight: 600;
            letter-spacing: .5px;
        }
    }

    @media only screen and (min-width: 1600px){
        .card{
            width: 250px;
            margin-top: 0px;

            &__img{
                width: 250px;
            }

            &__title, &__txt{
                width: 300px;
                font-size: 25px;
            }
        }
    }

    @media only screen and (max-width: 480px){
        .card{
            width: 300px;
            margin-top: 20px;

            &__title{
                width: 200px;
            }


            &__txt{
                width: 200px;
            }
        }
    }
</style>