---
const { img, title, secondTitle, txt } = Astro.props;
---

<div class="card">
    <img src={img} alt={title} class="card__img">
    <h3 class="card__title">{title} <br> {secondTitle}</h3>
    <p class="card__txt">{txt}</p>
</div>

<style lang="scss">
    .card{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__img{
            width: 137px;
            transition: all .2s;

            &:hover{
                cursor: pointer;
                scale: .9;
            }
        }

        &__title, &__txt{
            margin-top: 20px;
            text-align: center;
        }

        &__title{
            font-weight: 600;
            letter-spacing: .5px;
        }
    }

    @media only screen and (min-width: 1400px){
        .card{

            &__img{
                width: 250px;
            }

            &__title{
                font-size: 25px;
            }
        }
    }

    @media only screen and (max-width: 480px){
        .card{


            &__txt{
                width: 200px;
            }
        }
    }
</style>