---
import Input from "./Input.astro";
import Select from "./Select.astro";
import { Image } from "astro:assets";
---

<h1 class="form-container__title">Recibe asesoramiento<br> personalizado y gratuito de <br>uno de nuestros consultores</h1>
<h2 class="form-container__subtitle">Rellenando este formulario:</h2>
<div class="form-container" id="form-container">
    <form  class="form-container__form" onsubmit="return false">
        <Input label="Nombre y apellidos" placeholder="Ingresa tu nombre y tu apellido" type="text" a=" *"></Input>
        <Input label="Email" placeholder="Ingresa tu email" type="email" a=" *"></Input>
        <Input label="Número de teléfono" placeholder="Escriba su número de telefono" type="text" a=" *"></Input>

        <!-- <Input label="¿Cuándo prefieres que el consultor contacte contigo?" placeholder="Escriba una fecha y hora" type="date"></Input> -->
        <div class="inpt-container">
            <div class="inpt-container__label-container">
                <label class="inpt-container__label">¿Cuándo prefieres que el consultor contacte contigo? <span class="inpt-container__label__a"></span></label>
            </div>
            <input type="date" class="inpt-container__inpt" placeholder="Escriba una fecha y hora">
        </div>
        <input type="time" class="inpt-container__inpt">
        <Select label="¿Cuánto podrías ahorrar / invertir?" a=" ">
            <option value="entre 1.000 y 5.000 euros" slot="option">entre 1.000 y 5.000 euros</option>
            <option value="entre 5.000 y 30.000 euros" slot="option">entre 5.000 y 30.000 euros</option>
            <option value="entre 30.000 y 100.000 euros" slot="option">entre 30.000 y 100.000 euros</option>
            <option value="más de 100.000 euros" slot="option">más de 100.000 euros</option>
            <option value="no hay selección" disabled selected class="select-container__select__option" slot="option">Escojer opción</option>
        </Select>

        <div class="form-container__form__msg-container">
            <label class="form-container__form__msg-container__label">Mensaje <span class="form-container__form__msg-container__label__a"></span></label>
            <textarea  class="form-container__form__msg-container__inpt"></textarea>
        </div>

        <div class="form-container__form__checkbox-container">
            <div class="form-container__form__checkbox-container__inpt-container">
                <input type="checkbox" class="form-container__form__checkbox-container__inpt-container__inpt custom-checkbox" required>
                <label class="form-container__form__checkbox-container__inpt-container__checkmark checkmark"></label>
            </div>
            <a><p class="form-container__form__checkbox-container__txt">He leído y acepto la <a class="form-container__form__checkbox-container__txt__link" href="/privacy">Política de Privacidad</a></p></a>
        </div>
        <button class="form-container__form__btn">
  <div class="svg-wrapper-1">
    <div class="svg-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      >
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path
          fill="currentColor"
          d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
        ></path>
      </svg>
    </div>
  </div>
  <span>Enviar</span>
</button>

    </form>
    <div class="form-container__img-container">
        <img src="https://cdn.discordapp.com/attachments/973568724722389052/1165188842723213322/fsdfsdfsd.png?ex=6545f1ac&is=65337cac&hm=8a720e270aae6cb780536ba9ce18b8d1a93da78e1a8fa92da6c56299c03efb69&" class="form-container__img-container__img--2" alt="Women">
    </div>
</div>

<style lang="scss">
    .pop-up{
        width: 400px;
    }


    button {
  font-family: inherit;
  font-size: 20px;
  color: white;
  background: hsla(29, 65%, 54%, 1);
                    background: linear-gradient(45deg, hsla(29, 65%, 54%, 1) 0%, hsla(50, 100%, 70%, 1) 100%);

                    background: -moz-linear-gradient(45deg, hsla(29, 65%, 54%, 1) 0%, hsla(50, 100%, 70%, 1) 100%);

                    background: -webkit-linear-gradient(45deg, hsla(29, 65%, 54%, 1) 0%, hsla(50, 100%, 70%, 1) 100%);


  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.inpt-container{

    &__inpt{
        margin-bottom: 40px;
            width: 600px;
            padding: 10px;
            border-radius: 12px;
            outline: none;
            border: 1.5px solid #9e9e9e;
            font-size: 20px;
            transition: all .5s;

            &::placeholder{
                opacity: .40;
                font-weight: 100;
            }

            &:focus{
                box-shadow: 0px 0px 40px #ffa93f8c;
            }
        }
}


    .form-container{
        overflow: hidden;
        padding: 0px;
        height: 1200px;
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
        // display: flex;
        // justify-content: space-between;

        &__title{
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 20px;
            margin-left: 40px;
        }

        &__subtitle{
            font-size: 25px;
            margin-bottom: 70px;
            margin-left: 40px;
        }

        &__form{
                margin-left: 40px;

                &__msg-container{
                    display: flex;
                    flex-direction: column;

                    &__label{
                        font-size: 22px;
                        margin-bottom: 15px;

                        &__a{
                            color: hsl(354, 84%, 57%);
                            opacity: .5;
                        }

                        &:hover{
                            cursor: text;
                        }
                    }

                    &__inpt{
                        width: 600px;
                        height: 200px;
                        padding: 10px;
                        border-radius: 12px;
                        outline: none;
                        border: 1.5px solid #9e9e9e;
                        font-size: 20px;
                        resize: none;
                        transition: all .5s;

                        &:focus{
                            box-shadow: 0px 0px 40px #ffa93f8c;
                        }
                    }
                }

                &__checkbox-container{
                    display: flex;
                    align-items: center;
                    margin-top: 20px;

                    &__inpt-container{

                        &__inpt{
                            width: 25px;
                            height: 25px;
                            accent-color: #ffa93f8c;
                            transition: all .5s;

                            &:hover{
                                cursor: pointer;
                                box-shadow: 0px 0px 140px 40px #fab1078c;
                            }
                        }

                        &__checkmark{
                        }
                    }

                    &__txt{
                        margin-left: 10px;
                        font-size: 20px;

                        &__link{
                            color: #ffa93f8c;

                            &:hover{
                                text-decoration: underline;
                                cursor: pointer;

                                
                            }
                        }
                    }
                }

                &__btn{
                    margin-top: 40px;
                    outline: none;
                    border: none;
                    padding: 20px;
                    color: #fff;
                    font-size: 25px;
                    width: 150px;
                    border-radius: 12px;
                    transition: all .2s;
                    background: hsla(29, 65%, 54%, 1);
                    background: linear-gradient(45deg, hsla(29, 65%, 54%, 1) 0%, hsla(50, 100%, 70%, 1) 100%);

                    background: -moz-linear-gradient(45deg, hsla(29, 65%, 54%, 1) 0%, hsla(50, 100%, 70%, 1) 100%);

                    background: -webkit-linear-gradient(45deg, hsla(29, 65%, 54%, 1) 0%, hsla(50, 100%, 70%, 1) 100%);




                
                    &:hover{
                        cursor: pointer;
                        scale: 1.1;
                    }
                }
            }

        &__img-container{
            position: relative;
            z-index: -1;
            top: 10px;
            align-self: flex-end;

            &__img--2{
                width: 500px;
            }
        }
    }

    @media only screen and (min-width: 1400px){
        .form-container{

            &__title{
                margin-left: 100px;
            }

            &__subtitle{
                margin-left: 100px;
            }

            &__form{
                position: relative;
                margin-left: 100px;
            }

            &__img-container{
                align-self: flex-end;

                &__img--2{
                    width: 700px;
                }
            }
        }
    }

    @media only screen and (max-width: 480px){
        .inpt-container{

            &__inpt{
                width: 300px;
            }
        }

        .form-container{
            height: 1250px;

            &__title{
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 20px;
                margin-left: 40px;
            }

            &__form{

                &__msg-container{

                    &__inpt{
                        width: 300px;
                    }
                }

                &__checkbox-container{

                    &__txt{
                        width: 300px;
                    }
                }
            }

            &__img-container{
                display: none;
            }
        }
    }

    @media only screen and (max-width: 900px) and (min-width: 481px){
        .form-container{
            height: 1100px;

            &__form{

                &__msg-container{

                    &__inpt{
                    }
                }
            }

            &__img-container{
                display: none;
            }
        }
    }
</style>
<style lang="scss">
    .inpt-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &__label-container{
            display: flex;
            width: 600px;
            justify-content: space-between;
        }

        &__label{
            font-size: 22px;
            margin-bottom: 15px;

            &__a{
                color: hsl(354, 84%, 57%);
                        opacity: .5;
            }

            &:hover{
                cursor: text;
            }
        }

        &__label-error{
            display: none;
            color: hsl(354, 84%, 57%);
        }

        &__inpt{
            width: 600px;
            padding: 10px;
            border-radius: 12px;
            outline: none;
            border: 1.5px solid #9e9e9e;
            font-size: 20px;
            transition: all .5s;

            &::placeholder{
                opacity: .40;
                font-weight: 100;
            }

            &:focus{
                box-shadow: 0px 0px 40px #ffa93f8c;
            }
        }
    }

    @media only screen and (max-width: 480px){
        .inpt-container{

            &__label{
                width: 310px;
            }

            &__inpt{
                width: 300px;
            }
        }
    }
</style>

<!-- <script is:inline>
    const btn = document.querySelector('.form-container__form__btn');
	const form = document.querySelector('.form-container__form');

    let name = form.childNodes[0].childNodes[1];
        let email = form.childNodes[1].childNodes[1];
        let num = form.childNodes[2].childNodes[1];
        let info;
        let ammount = form.childNodes[4].childNodes[1].options[form.childNodes[4].childNodes[1].selectedIndex];
        if (ammount == "Escojer opción"){
            ammount = " "
        } else {
            ammount = form.childNodes[4].childNodes[1].options[form.childNodes[4].childNodes[1].selectedIndex];
        }
        let msg = form.childNodes[5].childNodes[1];

    btn.addEventListener('mouseover', () =>{

        if (name.value == "" || email.value == "" || num.value == ""){
            btn.style.cursor = 'not-allowed';
        } else {
            btn.style.cursor = 'pointer';

            btn.addEventListener('click', () =>{
                !function(e){if("object"==typeof exports&&"undefined"!=typeof module)module.exports=e();else if("function"==typeof define&&define.amd)define([],e);else{("undefined"!=typeof window?window:"undefined"!=typeof global?global:"undefined"!=typeof self?self:this).emailjs=e()}}(function(){return function i(u,s,c){function a(t,e){if(!s[t]){if(!u[t]){var n="function"==typeof require&&require;if(!e&&n)return n(t,!0);if(l)return l(t,!0);var r=new Error("Cannot find module '"+t+"'");throw r.code="MODULE_NOT_FOUND",r}var o=s[t]={exports:{}};u[t][0].call(o.exports,function(e){return a(u[t][1][e]||e)},o,o.exports,i,u,s,c)}return s[t].exports}for(var l="function"==typeof require&&require,e=0;e<c.length;e++)a(c[e]);return a}({1:[function(e,t,n){var r,o,i=t.exports={};function u(){throw new Error("setTimeout has not been defined")}function s(){throw new Error("clearTimeout has not been defined")}function c(t){if(r===setTimeout)return setTimeout(t,0);if((r===u||!r)&&setTimeout)return r=setTimeout,setTimeout(t,0);try{return r(t,0)}catch(e){try{return r.call(null,t,0)}catch(e){return r.call(this,t,0)}}}!function(){try{r="function"==typeof setTimeout?setTimeout:u}catch(e){r=u}try{o="function"==typeof clearTimeout?clearTimeout:s}catch(e){o=s}}();var a,l=[],f=!1,d=-1;function p(){f&&a&&(f=!1,a.length?l=a.concat(l):d=-1,l.length&&m())}function m(){if(!f){var e=c(p);f=!0;for(var t=l.length;t;){for(a=l,l=[];++d<t;)a&&a[d].run();d=-1,t=l.length}a=null,f=!1,function(t){if(o===clearTimeout)return clearTimeout(t);if((o===s||!o)&&clearTimeout)return o=clearTimeout,clearTimeout(t);try{o(t)}catch(e){try{return o.call(null,t)}catch(e){return o.call(this,t)}}}(e)}}function h(e,t){this.fun=e,this.array=t}function v(){}i.nextTick=function(e){var t=new Array(arguments.length-1);if(1<arguments.length)for(var n=1;n<arguments.length;n++)t[n-1]=arguments[n];l.push(new h(e,t)),1!==l.length||f||c(m)},h.prototype.run=function(){this.fun.apply(null,this.array)},i.title="browser",i.browser=!0,i.env={},i.argv=[],i.version="",i.versions={},i.on=v,i.addListener=v,i.once=v,i.off=v,i.removeListener=v,i.removeAllListeners=v,i.emit=v,i.prependListener=v,i.prependOnceListener=v,i.listeners=function(e){return[]},i.binding=function(e){throw new Error("process.binding is not supported")},i.cwd=function(){return"/"},i.chdir=function(e){throw new Error("process.chdir is not supported")},i.umask=function(){return 0}},{}],2:[function(e,t,n){(function(f,d){(function(){"use strict";function e(t){var n=this.constructor;return this.then(function(e){return n.resolve(t()).then(function(){return e})},function(e){return n.resolve(t()).then(function(){return n.reject(e)})})}var t=setTimeout;function r(){}function i(e){if(!(this instanceof i))throw new TypeError("Promises must be constructed via new");if("function"!=typeof e)throw new TypeError("not a function");this._state=0,this._handled=!1,this._value=void 0,this._deferreds=[],l(e,this)}function o(n,r){for(;3===n._state;)n=n._value;0!==n._state?(n._handled=!0,i._immediateFn(function(){var e=1===n._state?r.onFulfilled:r.onRejected;if(null!==e){var t;try{t=e(n._value)}catch(e){return void s(r.promise,e)}u(r.promise,t)}else(1===n._state?u:s)(r.promise,n._value)})):n._deferreds.push(r)}function u(t,e){try{if(e===t)throw new TypeError("A promise cannot be resolved with itself.");if(e&&("object"==typeof e||"function"==typeof e)){var n=e.then;if(e instanceof i)return t._state=3,t._value=e,void c(t);if("function"==typeof n)return void l((r=n,o=e,function(){r.apply(o,arguments)}),t)}t._state=1,t._value=e,c(t)}catch(e){s(t,e)}var r,o}function s(e,t){e._state=2,e._value=t,c(e)}function c(e){2===e._state&&0===e._deferreds.length&&i._immediateFn(function(){e._handled||i._unhandledRejectionFn(e._value)});for(var t=0,n=e._deferreds.length;t<n;t++)o(e,e._deferreds[t]);e._deferreds=null}function a(e,t,n){this.onFulfilled="function"==typeof e?e:null,this.onRejected="function"==typeof t?t:null,this.promise=n}function l(e,t){var n=!1;try{e(function(e){n||(n=!0,u(t,e))},function(e){n||(n=!0,s(t,e))})}catch(e){if(n)return;n=!0,s(t,e)}}i.prototype.catch=function(e){return this.then(null,e)},i.prototype.then=function(e,t){var n=new this.constructor(r);return o(this,new a(e,t,n)),n},i.prototype.finally=e,i.all=function(t){return new i(function(r,o){if(!t||void 0===t.length)throw new TypeError("Promise.all accepts an array");var i=Array.prototype.slice.call(t);if(0===i.length)return r([]);var u=i.length;function s(t,e){try{if(e&&("object"==typeof e||"function"==typeof e)){var n=e.then;if("function"==typeof n)return void n.call(e,function(e){s(t,e)},o)}i[t]=e,0==--u&&r(i)}catch(e){o(e)}}for(var e=0;e<i.length;e++)s(e,i[e])})},i.resolve=function(t){return t&&"object"==typeof t&&t.constructor===i?t:new i(function(e){e(t)})},i.reject=function(n){return new i(function(e,t){t(n)})},i.race=function(o){return new i(function(e,t){for(var n=0,r=o.length;n<r;n++)o[n].then(e,t)})},i._immediateFn="function"==typeof d&&function(e){d(e)}||function(e){t(e,0)},i._unhandledRejectionFn=function(e){"undefined"!=typeof console&&console&&console.warn("Possible Unhandled Promise Rejection:",e)};var n=function(){if("undefined"!=typeof self)return self;if("undefined"!=typeof window)return window;if(void 0!==f)return f;throw new Error("unable to locate global object")}();"Promise"in n?n.Promise.prototype.finally||(n.Promise.prototype.finally=e):n.Promise=i})()}).call(this,"undefined"!=typeof global?global:"undefined"!=typeof self?self:"undefined"!=typeof window?window:{},e("timers").setImmediate)},{timers:3}],3:[function(c,e,a){(function(e,t){var r=c("process/browser.js").nextTick,n=Function.prototype.apply,o=Array.prototype.slice,i={},u=0;function s(e,t){this._id=e,this._clearFn=t}a.setTimeout=function(){return new s(n.call(setTimeout,window,arguments),clearTimeout)},a.setInterval=function(){return new s(n.call(setInterval,window,arguments),clearInterval)},a.clearTimeout=a.clearInterval=function(e){e.close()},s.prototype.unref=s.prototype.ref=function(){},s.prototype.close=function(){this._clearFn.call(window,this._id)},a.enroll=function(e,t){clearTimeout(e._idleTimeoutId),e._idleTimeout=t},a.unenroll=function(e){clearTimeout(e._idleTimeoutId),e._idleTimeout=-1},a._unrefActive=a.active=function(e){clearTimeout(e._idleTimeoutId);var t=e._idleTimeout;0<=t&&(e._idleTimeoutId=setTimeout(function(){e._onTimeout&&e._onTimeout()},t))},a.setImmediate="function"==typeof e?e:function(e){var t=u++,n=!(arguments.length<2)&&o.call(arguments,1);return i[t]=!0,r(function(){i[t]&&(n?e.apply(null,n):e.call(null),a.clearImmediate(t))}),t},a.clearImmediate="function"==typeof t?t:function(e){delete i[e]}}).call(this,c("timers").setImmediate,c("timers").clearImmediate)},{"process/browser.js":1,timers:3}],4:[function(e,t,n){"use strict";Object.defineProperty(n,"__esModule",{value:!0});var s=e("./models/EmailJSResponseStatus"),i=e("./services/ui/UI"),c=null,a="https://api.emailjs.com";function l(o,i,u){return void 0===u&&(u={}),new Promise(function(n,r){var e=new XMLHttpRequest;for(var t in e.addEventListener("load",function(e){var t=new s.EmailJSResponseStatus(e.target);200===t.status||"OK"===t.text?n(t):r(t)}),e.addEventListener("error",function(e){r(new s.EmailJSResponseStatus(e.target))}),e.open("POST",o,!0),u)e.setRequestHeader(t,u[t]);e.send(i)})}n.init=function(e,t){c=e,a=t||"https://api.emailjs.com"},n.send=function(e,t,n,r){var o,i,u={lib_version:"2.3.2",user_id:r||c,service_id:e,template_id:t,template_params:(o=n,i=document.getElementById("g-recaptcha-response"),i&&i.value&&(o["g-recaptcha-response"]=i.value),i=null,o)};return l(a+"/api/v1.0/email/send",JSON.stringify(u),{"Content-type":"application/json"})},n.sendForm=function(e,t,n,r){if("string"==typeof n&&(n=document.querySelector(n)),!n||"FORM"!==n.nodeName)throw"Expected the HTML form element or the style selector of form";i.UI.progressState(n);var o=new FormData(n);return o.append("lib_version","2.3.2"),o.append("service_id",e),o.append("template_id",t),o.append("user_id",r||c),l(a+"/api/v1.0/email/send-form",o).then(function(e){return i.UI.successState(n),e},function(e){return i.UI.errorState(n),Promise.reject(e)})}},{"./models/EmailJSResponseStatus":5,"./services/ui/UI":6}],5:[function(e,t,n){"use strict";Object.defineProperty(n,"__esModule",{value:!0});var r=function(e){this.status=e.status,this.text=e.responseText};n.EmailJSResponseStatus=r},{}],6:[function(e,t,n){"use strict";Object.defineProperty(n,"__esModule",{value:!0});var r=function(){function e(){}return e.clearAll=function(e){e.classList.remove(this.PROGRESS),e.classList.remove(this.DONE),e.classList.remove(this.ERROR)},e.progressState=function(e){this.clearAll(e),e.classList.add(this.PROGRESS)},e.successState=function(e){e.classList.remove(this.PROGRESS),e.classList.add(this.DONE)},e.errorState=function(e){e.classList.remove(this.PROGRESS),e.classList.add(this.ERROR)},e.PROGRESS="emailjs-sending",e.DONE="emailjs-success",e.ERROR="emailjs-error",e}();n.UI=r},{}]},{},[4,2])(4)});

    (function(){
        emailjs.init("oxNMD8G8v0yiMdSSq")
    })

let params;

const sendEmail = () =>{
params = {
    about: "Hola",
    name: "Hola",
    email: "skibiditoilot@gmail.com",
    message: "Hola skibidi"
}
}

const serviceId = 'service_xkdpubf';
const templateId = 'template_jpocdgy';
// const accessToken = 'kpbjdy2QF4J4BntMJsHza';

            sendEmail();
            emailjs.send(serviceId, templateId, params).then( res =>{
                alert(res)
            })
                // const div = document.createElement('DIV');
                // div.innerHTML = "Hola";
                // div.classList.add('pop-up');
                // document.body.appendChild(div);
                // var Email = { send: function (a) { return new Promise(function (n, e) { a.nocache = Math.floor(1e6 * Math.random() + 1), a.Action = "Send"; var t = JSON.stringify(a); Email.ajaxPost("https://smtpjs.com/v3/smtpjs.aspx?", t, function (e) { n(e) }) }) }, ajaxPost: function (e, n, t) { var a = Email.createCORSRequest("POST", e); a.setRequestHeader("Content-type", "application/x-www-form-urlencoded"), a.onload = function () { var e = a.responseText; null != t && t(e) }, a.send(n) }, ajax: function (e, n) { var t = Email.createCORSRequest("GET", e); t.onload = function () { var e = t.responseText; null != n && n(e) }, t.send() }, createCORSRequest: function (e, n) { var t = new XMLHttpRequest; return "withCredentials" in t ? t.open(e, n, !0) : "undefined" != typeof XDomainRequest ? (t = new XDomainRequest).open(e, n) : t = null, t } };

                // Email.send({
                //     SecureToken: "3d5aa13f-30cd-49ce-8353-eac475b8c092",
                //     Host : "smtp.elasticemail.com",
                //     Username : "isma.tux3er@gmail.com",
                //     Password : "69595BF7440A82F0C7E59A6759635232B412",
                //     To : 'isma.tux3er@gmail.com',
                //     From : "isma.tux3er@gmail.com",
                //     Subject : `Isma y Xavi habeis recivido un email de: ${name.value}  y este es su email: ${email.value}`,
                //     Body : `El mensaje es ${msg} y su numero de telefono es ${num.value}`
                // }).then(
                //     message => console.log(message)
                // )
            })
        }
    })
	console.log(form.childNodes);
</script> -->

<script is:inline>

